#nav-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #00a087;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  padding: 0 5px 0 0;
  float: left;
}

#nav-bar .header {
  color: #e8fdff;
  float: left;
  line-height: 80px;
  font-size: 2em;
  padding: 0 0 0 5px;
}


#nav-bar .compose {
  float: right;
  margin: 10px 0 0 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 60px;
  font-size: 1.3em;
  color: #00a087;
  opacity: 0.7;
  transition: 0.3s ease-out;
}

#nav-bar .compose:hover{
  opacity: 1;
  color: black;
  transition: 0.3s ease-in;
}

.compose i {
  padding-right: 5px;
}